@import "./breakpoints";

$experience_transition_duration: 300ms;
$experience_longer_transition_duration: $experience_transition_duration + 50ms;

section.experience {
  // Capitalize only child time tag for languages that does not autocapitalize month names
  ul,
  details {
    padding-left: 2rem;
    margin-bottom: 0.5rem;
  }
  ul > li {
    line-height: 1.25em;
    time:first-child:last-child {
      display: inline-block;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    @media screen {
      &:first-child > .svg-inline--fa {
        min-width: auto;
        margin-right: 0.5ch;
      }
    }
  }

  &,
  article,
  details {
    width: 100%;
  }
  p {
    margin: 0;
    margin-bottom: inherit;
    line-height: 1.5rem;
  }

  article {
    margin-top: 1rem;
    @media print {
      margin-top: initial;
    }
    @include media-breakpoint-down(sm) {
      &:not(:last-child)::after {
        content: "";
        display: block;
        border-top: 1px solid #aaa;
        margin: 1rem;
      }
    }
  }

  details {
    $summary-line-height: 1.5rem;
    &:hover {
      &[open] {
        will-change: height;
      }
      &:not([open]) p {
        will-change: font-size;
      }
    }
    position: relative;

    summary {
      outline: none;
      height: min-content;
      line-height: $summary-line-height;
    }

    @media screen {
      .svg-inline--fa {
        display: none;
      }
    }

    & > summary > span {
      display: block;
      margin-bottom: -$summary-line-height;
      margin-left: 1em;
      transform: translateY(-#{$summary-line-height});

      cursor: pointer;
      font-style: italic;

      opacity: 1;
      transition: opacity #{$experience_transition_duration} ease-in;

      text-decoration: underline;
      // text-decoration-style: dotted;
      // text-underline-position: under;
      text-decoration-skip: ink;
    }

    // Styling open details elements
    &[open] {
      & > summary {
        float: left;

        & > span {
          $grid_gutter_width: 0;
          // I don't use transition to avoid weird font-size change
          animation: fadeOutKeepingFontSize #{$experience_longer_transition_duration *
            0.4} ease-out;
          position: absolute;

          opacity: 0;
          font-size: 0;
          // 3rem =
          //        2rem (ul padding-left) +
          //        1rem (summary arrow)
          max-width: calc(100% - 3rem - #{$grid_gutter_width});
        }
      }

      & > p {
        animation: invisiblyGrowFontSize #{$experience_longer_transition_duration}
          ease-out;
        letter-spacing: 0;
        margin-left: 1rem;
        min-height: 1.5rem;
        text-align: justify;
      }

      @include media-breakpoint-down(sm) {
        // Transition on padding-left does not work on Safari
        // Plus it requires more ressources than translate animation
        animation: translate2linesX #{$experience_transition_duration} ease-in;
        padding-left: 0;
        & > summary span {
          // 5rem=
          //      2*1rem (body padding) +
          //      2rem (ul padding-right) +
          //      1rem (summary arrow)
          max-width: calc(100vw - 5rem);
        }
      }
    }
  }
}

.movable-element,
.movable-element-after::after {
  transform: translateY(var(--movable-height));
  transition: transform #{$experience_transition_duration} ease-in;
}
@include media-breakpoint-up(md) {
  body.moving-elements > main {
    margin-bottom: var(--movable-height, 1rem);
    transition: margin-bottom #{$experience_transition_duration} ease-in;
  }
}

@keyframes invisiblyGrowFontSize {
  0% {
    opacity: 0;
    font-size: 0;
    line-height: 0;
  }
  60% {
    opacity: 0;
    font-size: 0.5em;
    letter-spacing: 0.22rem;
    line-height: 1.5rem;
  }
  80% {
    opacity: 0.5;
    letter-spacing: 0;
    font-size: 1em;
    line-height: 1.5rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
    font-size: 1em;
    line-height: 1.5rem;
  }
}

@keyframes translate2linesX {
  0% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@keyframes fadeOutKeepingFontSize {
  0% {
    opacity: 1;
    font-size: 1rem;
  }
  100% {
    opacity: 0;
    font-size: 1rem;
  }
}
