@import "./variables";
@import "./breakpoints";
@import "../../node_modules/balloon-css/src/variables";
@import "../../node_modules/balloon-css/src/mixins";

%bar {
  stroke-width: 0.2em;
  stroke: var(--balloon-color);
  width: 1em;
  height: 1em;
}

.meter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  @include media-breakpoint-up(md) {
    // @include make-col(6);
  }

  & > h3 {
    width: 100%;
    @media print {
      // margin: auto 0 0;
    }
  }

  & h5 {
    display: block;
    line-height: 2rem;
  }

  & > article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    @media screen {
      margin-bottom: 0.5rem;
    }

    &:hover {
      & > h5 {
        font-weight: bold;
      }

      circular-meter {
        &::after {
          top: 004%;
          left: 004%;
          width: 092%;
          height: 092%;
          line-height: 3.7em;
        }

        &.ballooned::before,
        & > span {
          visibility: visible;
          opacity: 1;
          line-height: 3.33em;
          font-size: 0.2em;
        }
      }
    }
  }

  & meter {
    width: 80%;
    min-width: 1em;
    padding: 0.1rem;
    transform: translateX(10%);
  }

  circular-meter {
    position: relative;
    font-size: 3rem;
    @media print {
      font-size: 2.5rem;
    }
    display: flex;
    border-radius: 50%;
    margin: 0 auto 0.1em;
    padding: 0;
    overflow: visible;

    --balloon-color: #{$balloon-bg};
    @media screen and (prefers-color-scheme: dark) {
      --balloon-color: #555358;
    }

    & *::before,
    & *::after {
      box-sizing: content-box;
    }

    & > span {
      @include base-effects();

      background-color: var(--balloon-color);
      border-radius: 4px;
      color: white;
      font-size: $balloon-base-size + 2;
      padding: 0.5em 1em;
      position: absolute;
      white-space: nowrap;
      z-index: 10;

      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 0;
      line-height: 5em;
      font-size: 0;

      // display: block;
      text-align: center;
      white-space: nowrap;
      transform: translate(-50%, calc(100% + 5px));
      // transition-property: all;
      // transition-duration: 0.2s;
      // transition-timing-function: ease-out;
    }
    &::before {
      @include arrow-up();
      @include base-effects();

      content: "";
      position: absolute;
      z-index: 10;

      left: 50%;
      margin-top: 0.5px; // for retina screens
      top: 100%;
      transform: translate(-50%, -50%);
    }
    &::after {
      content: attr(data-title);
      color: $primary_color;
      font-size: 0.25em;
      line-height: 3.4em;
      position: absolute;
      top: 8%;
      left: 8%;
      display: block;
      border-radius: 50%;
      background-color: white;
      width: 84%;
      height: 84%;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
    }
    .slice {
      width: 1em;
      height: 1em;
      stroke-linecap: round;
    }
    .bar {
      @extend %bar;
      transform: rotate(-90deg);
      transform-origin: center;
      fill: none;
      stroke-dasharray: var(--stroke-dasharray), 360;
    }
    .fill {
      @extend %bar;
      opacity: 0.1;
    }
  }
}
